/* Global */
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #87949E;
$color-grey-background: #F9FAFA;
$color-green: #17DAA3;

$transition: all 1s;
$font-main: 'Raleway', sans-serif;
$font-second: 'Source Sans Pro', sans-serif;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    font-family: $font-main;
}

.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding-top: 100px;
    padding-bottom: 110px;
}

.section-title {
    position: relative;
    font-weight: 200;
    font-size: 70px;
    font-weight: 100;
    margin: 0 0 50px 0;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 50%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background: $color-grey;
}

.section-description {
    font-size: 18px;
    font-size: 400;
    color: $color-grey;
}

.btn {
    font-weight: bold;
    display: inline-block;
    min-width: 183px;
    height: 47px;
    line-height: 45px;    
    margin: 24px auto 0 auto;
    border-radius: 90px;    
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;    
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    color: $color-white;
    transition: $transition;
}

.btn:hover {    
    background-position: 0 100%;
}

.btn-one {
    color: $color-white;
    background-image: linear-gradient(135deg, $color-white, 50%, transparent 50%);
}

.btn-one:hover {
    color: $color-black;   
}

.btn-two {
    background-color: $color-green;
    border-color: $color-green;
    background-image: linear-gradient(135deg, $color-white, 50%, transparent 50%);
}

.btn-two:hover {
    color: $color-black;
}

/*Splash */

.splash {
    position: relative;
    height: 100vh;
    background-color: $color-black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    
        .menu-elements {
            display: flex;
        }

        .logo {
            color: $color-white;
            z-index: 1;
            font-size: 20px;
        }
        ul {
            padding: 0 20px;
            margin: auto;
            list-style-type: none;
            
            li {
                position: relative;
                display: inline-block;
                margin-right: 36px;

                a {
                    text-decoration: none;
                    color: $color-white;
                    font-size: 14px;
                    font-weight: bold;
                    transition: $transition;
                }

                a:hover {
                    color: $color-green;
                }
            }
        }
    
        i {
            z-index: 1;
            color: $color-white;
            font-size: 20px;
            margin: auto;
            cursor: pointer;
        }

        i:hover {
            color: $color-green;
            transition: $transition;
        }
    }
    
    .splash-inner {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        .page-title {
            font-weight: 200;
            color: $color-white;
            font-size: 60px;
            margin-bottom: 0;

            span {
                font-weight: bold
            }
        }

        .page-subtitle {
            color: $color-white;
            font-weight: 400;
            font-family: $font-second;
            font-size: 24px;
            margin-top: 0;
        }
    }
}

.splash::before {
    position: absolute;
    content: '';
    background-image: url('img/splash.jpg');
    opacity: 0.5;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
}

/* About us */

.about-us {

    .about-elements {
        display: flex;
        flex-wrap: wrap; 

        .about-element {
            padding: 156px 10px 85px 10px;
            width: 25%;

            i {
                font-size: 55px;
                background: $color-grey-background;
                width: 182px;
                height: 182px;
                line-height: 182px;
                color: $color-grey;
                border-radius: 50%;
            }

            i:hover {
                background: $color-green;
                color: $color-white;
                transition: $transition;
            }

            p {
                font-size: 18px;
                color: $color-grey;
            }

            p:first-of-type {
                font-size: 30px;
                font-family: $font-second;
                color: $color-black;
            }
        }
    }
}

// /* Portfolio */

.portfolio {
    padding-top: 0;
    align-content: center;

    .portfolio-element:first-of-type {
        background: $color-grey-background;
    }

    .portfolio-element {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
    
        .portfolio-image {
            width: 50%;
            padding: 0;
        }

        .portfolio-description {
            width: 50%;
            text-align: left;
            padding: 0 30px;
    
            p {
                font-size: 18px;
                font-weight: 400;
                color: $color-grey;
            }

            p:first-of-type {
                font-size: 60px;
                font-weight: 100;
            }
    
            .portfolio-title {
                font-family: $font-main;
                font-weight: lighter;
                font-size: 50px;
                color: $color-black;
                margin-top: 0;
            }
        }
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s ease;
        }
    }
}

/* About me */

.about-me {
    position: relative;
    height: 70vh;
    background-image: url('img/Photo.jpg');
    width: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;

    .container {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            font-size: 18px;
            color: #525252;

            span {
                font-weight: 700;
            }            
        }

        p:first-of-type {
            color: $color-white;
            font-size: 30px;
            font-weight: 200;

            span {
                color: $color-green;
            }
        }
    }
}

/* Our services */

.our-services {
    background: $color-grey-background;

    .service-elements {
        margin-top: 165px;
        display: flex;
        flex-wrap: wrap;
    }

    .service-element {
        width: 50%;
        display: inline-flex;
        padding-right: 40px;

        i {
            font-size: 32px;
            background: $color-white;
            width: 94px;
            height: 94px;
            line-height: 94px;
            color: $color-green;
            border-radius: 50%; 
        }

        .service-description {
            margin-left: 40px;
            text-align: left;
            font-size: 20px;
            color: $color-grey;

            p {
                font-size: 18px;
            }
            p:first-of-type {
                color: $color-black;
                font-size: 60px;
                font-family: $font-main;
                font-weight: 300;
                margin: 0;
            }
        }
    }
}

/* Our team */

.our-team {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;

    .images {
        margin-top: 186px;
    }
    .our-team-item {  
        position: relative;     
        float: left; 
        width: 20%;
        height: 400px;

        img {
            position: relative;
            width: 100%; 
            height: 100%;
            object-fit: cover;     
            z-index: 1;    
        }

        .our-team-description {
            opacity: 0;
            transition: opacity 1s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            p {
                color: $color-white;
                font-size: 50px;
                font-family: $font-main;
            }
        }
    } 
    
    .our-team-item::after {
        content: '';
        position: absolute;        
        opacity: 0;
        transition: opacity 1s ease;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-green;
        z-index: 0;
    }
    
    .our-team-item:hover .our-team-description {
        opacity: 1;
    }
    
    .our-team-item:hover::after {
        opacity: 0.8;
        z-index: 2;
    }
}

/* Pricing */

.pricing {
    background: $color-grey-background;

    .pricing-elements {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 110px;

        .pricing-element {
            text-align: left;
            padding: 0px;
            background: $color-white;
            width: 22%;

            p {
                margin-top:80px;
                font-size: 18px;
                padding: 0 30px;
                color: $color-grey;
            }

            .price {
                color: $color-green;
                font-size: 60px;
                margin: 0;
                
            }

            .pricing-title {
                position: relative;
                font-size: 18px;
                font-weight: lighter;
                margin: 0;
            }

            .pricing-title::after {
                    position: absolute;
                    content: '';
                    bottom: -20px;
                    left: 50%;
                    width: 100%;
                    height: 2px;
                    transform: translateX(-50%);
                    background: $color-grey;
                
            }

            .pricing-btn {
                justify-content: space-between;
                display: flex;
                width: 100%;
                border-radius: 0;
                margin-top: 60px;
                padding: 27px 34px;
                height: auto;

                i {
                    margin: auto 0;
                    font-size: 18px;
                }

                a {
                    color: $color-white;
                    text-decoration: none;
                    transition: $transition;
                    font-size: 18px;
                }
            }

            .btn:hover a {
                color: $color-black;
            }
        }
    }
}

/* Map */

.map {
    position: relative;
}
.map-elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    
    .map-description {
        width: 50%;        
        text-align: left;       

        p {
            font-size: 18px;
            color: $color-grey;
        }

        p:first-of-type {
            font-size: 60px;
            font-family: $font-main;
            font-weight: 100;
            margin: 0 0 50px 0;
            color: $color-black;
        }
    }   
    .map-image {
        position: absolute;
        right: 0px;
        margin: auto;
        width: 50%;
        height: 100%;

        img {    
            width: 100%; 
            height: 100%;    
        }
    }
}

/* Try out */
.offer {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 80vh;

    img {
        width: 100%;
        height: 100%; 
     }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;

        p {
            color: $color-white;
            font-size: 60px;
        }
    }    
}

/* Footer */

.footer {
    position: relative;
    margin-top: 60px;
    >img {
        width: 100%;
        top: -68px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    
    .footer-elements {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .footer-logo {
        color: $color-black;
        padding-left: 100px;
        display: inline-flex;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    }

    p {
        font-size: 18px;
    }

    ul {
        padding: 0 20px;
        margin: auto;
        list-style-type: none;
            
        li {
            position: relative;
            display: inline-block;
            margin-top: 16px;
            margin-right: 36px;

            a {
                font-size: 18px;
                text-decoration: none;
                color: $color-black;
                transition: $transition;
            }

            a:hover {
                color: $color-grey;
            }
        }
    }
}
    
/* Media */

@media (max-width: 550px) {
    .splash {
        .menu {
            .menu-elements {
                flex-direction: column;
            }

            ul li {
                display: block;
                margin: 0;
                
            }

            i {
                margin-top: 5px;
                margin-bottom: 20px
            }
        }

        .splash-inner {
            .page-title {
                font-size: 40px;
            }

            .page-subtitle {
                font-size: 16px;
            }
        }
    }

    .about-us {
        .about-elements {
            .about-element {
                width: 100% !important;
            }
        }
    }
    
    .our-services {
        .service-elements {
            .service-element {
                display: block;

                .service-description {
                    text-align: center;

                    p:first-of-type {
                        font-size: 40px;
                    }
                }
            }
        }
    }

    .our-team {
        .our-team-item {
            width: 100% !important;
        };
    }

    .footer {
        ul li {
            display: block;
            margin: 0;
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 768px) {
    .splash {
        .menu {
            flex-direction: column;
        }
    }

    .our-team {
        .our-team-item {
            width: 33%;
        };
    }

    .pricing {
        .pricing-elements {
            .pricing-element {
                width: 100% !important;
            }
        }
    }

    .offer {
        .container {
            p {
                font-size: 30px !important;
            }
        }
    }
}

@media (max-width: 900px) {
    .splash {
        height: 130vh;
    }
    
    .about-us {
        .about-elements {
            .about-element {
                width: 50%;
                padding: 20px;
            }
        }
    }

    .portfolio {
        .portfolio-image {
            width: 100% !important;
        }

        .portfolio-description {
            width: 100% !important;
            text-align: center !important;
            

            p {
                text-align: center;
            }
        }

        .portfolio-element:nth-child(2) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .about-me {
        .container {

            p {
                font-size: 12px;
            }

            p:first-of-type {
                font-size: 20px ;
            }
        }
    }

    .service-element {   
        text-align: center;     
        padding-right: 0px !important;

        .service-description {
             margin-left: 0 !important;
        }
    }
}

@media (max-width:960px) {
    .footer {
        .footer-elements {
            flex-direction: column;

            .footer-logo {
                margin: auto;
                padding: 0;
            }
        }
    }
}

@media (max-width:1030px) {
    .our-services {
        .service-elements {
            .service-element {
                width: 100%;
            }
        }
    }

    .our-team {
        .our-team-item {
            width: 50%;
        };
    }

    .pricing {
        .pricing-elements {
            .pricing-element {
                width: 45%;
            }
        }
    }

    .map-elements {
        .map-description {
            width: 100%;
            padding-bottom: 50px;
        }

        .map-image {
            position: relative;
            width: 100%;
        }
    }

    .offer {
        .container {
            p {
                font-size: 40px;
            }
        }
    }
}
    
