/* Global */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding-top: 100px;
  padding-bottom: 110px;
}

.section-title {
  position: relative;
  font-weight: 200;
  font-size: 70px;
  font-weight: 100;
  margin: 0 0 50px 0;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #87949E;
}

.section-description {
  font-size: 18px;
  font-size: 400;
  color: #87949E;
}

.btn {
  font-weight: bold;
  display: inline-block;
  min-width: 183px;
  height: 47px;
  line-height: 45px;
  margin: 24px auto 0 auto;
  border-radius: 90px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  color: #ffffff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
}

.btn-one {
  color: #ffffff;
  background-image: linear-gradient(135deg, #ffffff, 50%, transparent 50%);
}

.btn-one:hover {
  color: #000000;
}

.btn-two {
  background-color: #17DAA3;
  border-color: #17DAA3;
  background-image: linear-gradient(135deg, #ffffff, 50%, transparent 50%);
}

.btn-two:hover {
  color: #000000;
}

/*Splash */
.splash {
  position: relative;
  height: 100vh;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.splash .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.splash .menu .menu-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.splash .menu .logo {
  color: #ffffff;
  z-index: 1;
  font-size: 20px;
}

.splash .menu ul {
  padding: 0 20px;
  margin: auto;
  list-style-type: none;
}

.splash .menu ul li {
  position: relative;
  display: inline-block;
  margin-right: 36px;
}

.splash .menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.splash .menu ul li a:hover {
  color: #17DAA3;
}

.splash .menu i {
  z-index: 1;
  color: #ffffff;
  font-size: 20px;
  margin: auto;
  cursor: pointer;
}

.splash .menu i:hover {
  color: #17DAA3;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.splash .splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.splash .splash-inner .page-title {
  font-weight: 200;
  color: #ffffff;
  font-size: 60px;
  margin-bottom: 0;
}

.splash .splash-inner .page-title span {
  font-weight: bold;
}

.splash .splash-inner .page-subtitle {
  color: #ffffff;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  margin-top: 0;
}

.splash::before {
  position: absolute;
  content: '';
  background-image: url("img/splash.jpg");
  opacity: 0.5;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

/* About us */
.about-us .about-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us .about-elements .about-element {
  padding: 156px 10px 85px 10px;
  width: 25%;
}

.about-us .about-elements .about-element i {
  font-size: 55px;
  background: #F9FAFA;
  width: 182px;
  height: 182px;
  line-height: 182px;
  color: #87949E;
  border-radius: 50%;
}

.about-us .about-elements .about-element i:hover {
  background: #17DAA3;
  color: #ffffff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.about-us .about-elements .about-element p {
  font-size: 18px;
  color: #87949E;
}

.about-us .about-elements .about-element p:first-of-type {
  font-size: 30px;
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
}

.portfolio {
  padding-top: 0;
  -ms-flex-line-pack: center;
      align-content: center;
}

.portfolio .portfolio-element:first-of-type {
  background: #F9FAFA;
}

.portfolio .portfolio-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.portfolio .portfolio-element .portfolio-image {
  width: 50%;
  padding: 0;
}

.portfolio .portfolio-element .portfolio-description {
  width: 50%;
  text-align: left;
  padding: 0 30px;
}

.portfolio .portfolio-element .portfolio-description p {
  font-size: 18px;
  font-weight: 400;
  color: #87949E;
}

.portfolio .portfolio-element .portfolio-description p:first-of-type {
  font-size: 60px;
  font-weight: 100;
}

.portfolio .portfolio-element .portfolio-description .portfolio-title {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  color: #000000;
  margin-top: 0;
}

.portfolio .portfolio-element img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

/* About me */
.about-me {
  position: relative;
  height: 70vh;
  background-image: url("img/Photo.jpg");
  width: 100%;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

.about-me .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-me .container p {
  font-size: 18px;
  color: #525252;
}

.about-me .container p span {
  font-weight: 700;
}

.about-me .container p:first-of-type {
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
}

.about-me .container p:first-of-type span {
  color: #17DAA3;
}

/* Our services */
.our-services {
  background: #F9FAFA;
}

.our-services .service-elements {
  margin-top: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-services .service-element {
  width: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 40px;
}

.our-services .service-element i {
  font-size: 32px;
  background: #ffffff;
  width: 94px;
  height: 94px;
  line-height: 94px;
  color: #17DAA3;
  border-radius: 50%;
}

.our-services .service-element .service-description {
  margin-left: 40px;
  text-align: left;
  font-size: 20px;
  color: #87949E;
}

.our-services .service-element .service-description p {
  font-size: 18px;
}

.our-services .service-element .service-description p:first-of-type {
  color: #000000;
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
}

/* Our team */
.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 0;
}

.our-team .images {
  margin-top: 186px;
}

.our-team .our-team-item {
  position: relative;
  float: left;
  width: 20%;
  height: 400px;
}

.our-team .our-team-item img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.our-team .our-team-item .our-team-description {
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.our-team .our-team-item .our-team-description p {
  color: #ffffff;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}

.our-team .our-team-item::after {
  content: '';
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #17DAA3;
  z-index: 0;
}

.our-team .our-team-item:hover .our-team-description {
  opacity: 1;
}

.our-team .our-team-item:hover::after {
  opacity: 0.8;
  z-index: 2;
}

/* Pricing */
.pricing {
  background: #F9FAFA;
}

.pricing .pricing-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 110px;
}

.pricing .pricing-elements .pricing-element {
  text-align: left;
  padding: 0px;
  background: #ffffff;
  width: 22%;
}

.pricing .pricing-elements .pricing-element p {
  margin-top: 80px;
  font-size: 18px;
  padding: 0 30px;
  color: #87949E;
}

.pricing .pricing-elements .pricing-element .price {
  color: #17DAA3;
  font-size: 60px;
  margin: 0;
}

.pricing .pricing-elements .pricing-element .pricing-title {
  position: relative;
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}

.pricing .pricing-elements .pricing-element .pricing-title::after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 50%;
  width: 100%;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #87949E;
}

.pricing .pricing-elements .pricing-element .pricing-btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 0;
  margin-top: 60px;
  padding: 27px 34px;
  height: auto;
}

.pricing .pricing-elements .pricing-element .pricing-btn i {
  margin: auto 0;
  font-size: 18px;
}

.pricing .pricing-elements .pricing-element .pricing-btn a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 18px;
}

.pricing .pricing-elements .pricing-element .btn:hover a {
  color: #000000;
}

/* Map */
.map {
  position: relative;
}

.map-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-elements .map-description {
  width: 50%;
  text-align: left;
}

.map-elements .map-description p {
  font-size: 18px;
  color: #87949E;
}

.map-elements .map-description p:first-of-type {
  font-size: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  margin: 0 0 50px 0;
  color: #000000;
}

.map-elements .map-image {
  position: absolute;
  right: 0px;
  margin: auto;
  width: 50%;
  height: 100%;
}

.map-elements .map-image img {
  width: 100%;
  height: 100%;
}

/* Try out */
.offer {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 80vh;
}

.offer img {
  width: 100%;
  height: 100%;
}

.offer .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.offer .container p {
  color: #ffffff;
  font-size: 60px;
}

/* Footer */
.footer {
  position: relative;
  margin-top: 60px;
}

.footer > img {
  width: 100%;
  top: -68px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.footer .footer-elements {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer .footer-logo {
  color: #000000;
  padding-left: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-logo img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.footer p {
  font-size: 18px;
}

.footer ul {
  padding: 0 20px;
  margin: auto;
  list-style-type: none;
}

.footer ul li {
  position: relative;
  display: inline-block;
  margin-top: 16px;
  margin-right: 36px;
}

.footer ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer ul li a:hover {
  color: #87949E;
}

/* Media */
@media (max-width: 550px) {
  .splash .menu .menu-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .splash .menu ul li {
    display: block;
    margin: 0;
  }
  .splash .menu i {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .splash .splash-inner .page-title {
    font-size: 40px;
  }
  .splash .splash-inner .page-subtitle {
    font-size: 16px;
  }
  .about-us .about-elements .about-element {
    width: 100% !important;
  }
  .our-services .service-elements .service-element {
    display: block;
  }
  .our-services .service-elements .service-element .service-description {
    text-align: center;
  }
  .our-services .service-elements .service-element .service-description p:first-of-type {
    font-size: 40px;
  }
  .our-team .our-team-item {
    width: 100% !important;
  }
  .footer ul li {
    display: block;
    margin: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .splash .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-team .our-team-item {
    width: 33%;
  }
  .pricing .pricing-elements .pricing-element {
    width: 100% !important;
  }
  .offer .container p {
    font-size: 30px !important;
  }
}

@media (max-width: 900px) {
  .splash {
    height: 130vh;
  }
  .about-us .about-elements .about-element {
    width: 50%;
    padding: 20px;
  }
  .portfolio .portfolio-image {
    width: 100% !important;
  }
  .portfolio .portfolio-description {
    width: 100% !important;
    text-align: center !important;
  }
  .portfolio .portfolio-description p {
    text-align: center;
  }
  .portfolio .portfolio-element:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me .container p {
    font-size: 12px;
  }
  .about-me .container p:first-of-type {
    font-size: 20px;
  }
  .service-element {
    text-align: center;
    padding-right: 0px !important;
  }
  .service-element .service-description {
    margin-left: 0 !important;
  }
}

@media (max-width: 960px) {
  .footer .footer-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-elements .footer-logo {
    margin: auto;
    padding: 0;
  }
}

@media (max-width: 1030px) {
  .our-services .service-elements .service-element {
    width: 100%;
  }
  .our-team .our-team-item {
    width: 50%;
  }
  .pricing .pricing-elements .pricing-element {
    width: 45%;
  }
  .map-elements .map-description {
    width: 100%;
    padding-bottom: 50px;
  }
  .map-elements .map-image {
    position: relative;
    width: 100%;
  }
  .offer .container p {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */